#Printing String

In [1]:
firstName = 'Padma'
lastName = 'Priya'
age = 43
ocupation = 'Software Engineer'
skills = ['Selenium', 'Karate', 'Basic Java']
personal_info = {
    'first_name': 'Lokesh',
    'last_name': 'Reddy',
    'age': 45,
    'country' : 'USA',
    'city' : 'StLouis'
}


print('firstName', firstName)
print('lastName', lastName)
print('age', age)
print('ocupation', ocupation)
print('skills', skills)
print('personal_info', personal_info)

firstName Padma
lastName Priya
age 43
ocupation Software Engineer
skills ['Selenium', 'Karate', 'Basic Java']
personal_info {'first_name': 'Lokesh', 'last_name': 'Reddy', 'age': 45, 'country': 'USA', 'city': 'StLouis'}

In [2]:
first_name, last_name, country, age, is_married = 'Padma', 'Priya', 'USA', 43, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Padma Priya USA 43 True
First name: Padma
Last name:  Priya
Country:  USA
Age:  43
Married:  True

In [5]:
num1=20
num2=30
add=num1+num2
print('The addition of',num1,'and',num2,'is =',add)

The addition of 20 and 30 is = 50

In [7]:
num1=20 
num2=30
add=num1+num2
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 20 and 30 is= 50

In [8]:
print('hello', end=' ') 
print('world good day')

hello world good day

In [9]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [12]:
print('Apple','Banana','Bread', 'Milk',sep='&')

Apple&Banana&Bread&Milk

In [14]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.